<div>
    <% @articles.each do |article| %>
    <ul>
      <li class="article_item"> <%= article.title%> </li>
      <li class="article_item">  <%= article.body %> </li>
    </ul>
    <% end %>
</div>

<div data-controller="test">
  <button data-action="click->test#change">Change</button>
  <p data-test-target="text">This is a change color test text.</p>
</div>