<%= turbo_frame_tag "new_article" do %>
  <%= link_to 'New Article', new_article_path %>
<% end %>

<div id="article_list">
  <%= render @articles %>
</div>

<div data-controller="test" data-test-background-class="test-class">
  <button data-action="click->test#change">Change</button>
  <p data-test-target="text">This is a change color test text.</p>
  <div>
  <p data-action="click->test#background">Paragraph 2</p>
  </div>
</div>
