/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*mobile view*/
 @media screen and (max-width: 550px) {
   .navbar-desktop {
      display: none;
      width: 90%;
      justify-content: end;
   }

   .mobile-navbar-links .nav_link {
      list-style: none;
   }

   .mobile-navbar {
      display: flex;
      justify-content: space-between;
   }

   .hamburguer {
      width: 35px;
      height: 5px;
      background-color: gray;
      margin: 2px 0;
      cursor: pointer;
   }

   .mobile-navbar-links {
      overflow: hidden;
      position: relative;
   }

   .mobile-navbar-links #myLinks {
      display: none;
   }

   .cross {
      display: none;
   }

   #myLinks {
      position: fixed;
      right: 0;
      flex-direction: column;
   }
 }

  /*desktop view*/
 @media screen and (min-width: 550px) {
	
    .navbar-desktop {
       display: flex;
       width: 90%;
       justify-content: end;
    }
    
    .navbar-desktop .nav_link {
       display: inline;
       margin-right: 5%;
    }
    
    .nav_link {
       text-decoration: none;
    }
    
    .article_item {
       list-style: none;
    }
    
    .nav_btn {
     border: none;
     background-color: white;
     color: black;
     padding: 0px 16px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     cursor: pointer;
    }

    #myLinks {
      display: none;
    }

    .cross {
      display: none;
   }
}
